<nav class="ui inverted black menu">
  <header class="header item"> <a href="/"> Keycloak-Express </a> </header>
  <div class="right menu">
    <!--<a class="item" href="/signup"> Signup</a>-->
    <a class="item" href="/test">  Test</a>
    <a class="item" href="/other">  Other</a>
    <a class="item" href="/logout">  Logout</a>
  </div>
</nav>